.idea/

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

bin/*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
rm_file/
log/*
/server/gva
/server/server
/latest_log
/__debug_bin*
server/uploads/
logs/*
/logs
/log
/etc
remote
server
*.iml
nohup.out
uploads
